.section-5 {
	padding: 0 0 100px 0;
	margin-top: 150px;
	.question {
		margin-bottom: 20px;
		padding: 5px 50px;
		background: url("../img/question.png") no-repeat top left;
		p {
			font-size: 20px;
			font-family: $montserrat-font;
			font-weight: 100;
			&:first-child {
				font-weight: 700;
				margin-bottom: 5px;
			}
		}
	}
}