footer {
	background: #2d2d2d;
	padding: 50px 0;
	margin-top: 50px;
	.footer-menu {
		a {
			color: #ffffff;
		}
		ul {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			list-style-type: none;
			padding-left: 42px;
			height: 100%;
			li {
				margin-right: 20px;
				font-size: 14px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.footer-copyright {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 43px;
		p {
			font-size: 12px;
			color: $white-color;
		}
	}
	.footer-logo {
		img {
			width: 100px;
		}
	}
}