.main-section {
	.btn-block {
		margin-top: 35px;
	}
	.title-block {
		display: flex;
		align-items: center;
	}
	.title {
		p {
			margin-top: 15px;
		}
	}
	.title-img {
		padding-right: 0;
		img {
			width: 100%;
		}
	}
}
.btn-block {
	display: flex;
	justify-content: left;
}
.btn {
	font-family: $montserrat-font;
	color: #ffffff;
	font-size: 20px;
	background: #2b3237;
	padding: 10px 16px;
	min-width: 208px;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition: all 0.5s;
	&:hover {
		color: #ffffff;
		transform: scale(1.1);
	}
}